<div class="card">
	<div class="img-container">
		<p>
			<strong>Rank:</strong>{{rank}}</p>
		<img data-id="img{{_id}}" src="{{imgURL}}" alt="Article Image" />
	</div>
	<div class="content">
		<ul>
			<li>
				<strong>Title:</strong>{{title}}</li>
			<li>
				<strong>Link:</strong>
				<a href="{{link}}">{{link}}</a>
			</li>
		</ul>
		<h3></h3>
		<p></p>
	</div>

	<button id="add" class="btn btn-success" data-id="{{_id}}">Notes</button>
	<button id="delete" class="btn btn-danger" data-id="{{_id}}">Delete</button>

</div>
<div class="input-group" id="notes{{_id}}">

</div>